*{
    box-sizing: border-box;
}
h1{font-size: 5em;
     font-family: 'Inconsolata', monospace;
      color: yellow; 
    padding: 60px;
    }
      h2{
        font-size: 3.5em;
        font-family: 'Inconsolata', monospace;
        color: yellow;
        text-align: center;
      }
      h3{
        text-align: center;
        font-size: 2em;
     font-family:'Inconsolata', monospace ;
     color: yellow; 
     background-color: black;
    margin: 30px;
      }
p{font-size: 2em;
     font-family:'Inconsolata', monospace ;
     color: whitesmoke; 
     background-color: black;
     text-align: center;
    margin: 30px;
    }
nav{font-size: 2em; 
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
     background-color: black;}
header{background-color: black;
     margin: 0;
     padding: 40px;
     top: 0;
     vertical-align: top;
     text-align: center;

    }
    a:link, a:visited{
        text-decoration: none;
    }
header.logo{
    margin: 0;
    align-content: left;
}
nav{text-align: center;
}
.pages{
    font-family: 'inconsolata',monospace;
    color: whitesmoke;
}
.container-contacto{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
input, textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(../img/pexels-chris-f-1283219-modified.jpg); 
    background-size: cover;
    background-position: center;
    font-family: 'Inconsolata', monospace;
    max-height: none;
}
.main{
    width: 50%;

}
.carousel-inner-galeria{
    width: 600;
    height: 300;
    text-align: center;
}
.carousel-inner{
    width: 400;
    height: 800;
    text-align: center;
}

footer{
     background-color: black;
margin: 0;
padding: 0;
text-align: center;
display: block;
align-items: flex-end;
}